<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxD2CtSmkovTesmGnrwsOkZC7jIwLmznE</string>
	<key>GCM_SENDER_ID</key>
	<string>288407022866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.list</string>
	<key>PROJECT_ID</key>
	<string>test-d79ee</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d79ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288407022866:ios:45c5e61c7bb9e3be8217cb</string>
	<key>DATABASE_URL</key>
	<string>https://test-d79ee-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>